:root {
  --very-dark-blue: hsl(234, 12%, 34%);
  --very-light-grey: hsl(0, 0%, 98%);
}

body {
  background-color: var(--very-light-grey);
  font-family: "Poppins", sans-serif;
  color: var(--very-dark-blue);
}

h1 {
  font-size: 2rem;
  font-weight: lighter;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}
